# Ignore node_modules in client and server directories
/client/node_modules
/server/node_modules

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables file
.env

# Ignore build directories (if any)
client/build/
server/build/

# Ignore any temporary files
*.tmp
